@model IList<AttendancePolicyViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["info"]
        </div>
    }
}


<h1>Attendance Policy List Information</h1>
<table class="table">
    <tr>
        <th>Sr.</th>
        <th>Name</th>
        <th>NumberOfLateTime</th>
        <th>NumberOfEarlyOutTime</th>
        <th>DeductionInAmount</th>
        <th>DeductionDay</th>
        <th>Actions</th>
    </tr>
    @{
        int index = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>@index</td>
            <td>@item.Name</td>
            <td>@item.NumberOfLateTime</td>
            <td>@item.NumberOfEarlyOutTime</td>
            <td>@item.DeductionInAmount</td>
            <td>@item.DeductionDay</td>
            
            <td>
                <a href="/attendancepolicy/edit?Id=@item.Id">Edit</a>
                <a href="/attendancepolicy/delete?Id=@item.Id" onclick="return confirm('Are you sure to delete the record?')">Delete</a>
            </td>
        </tr>
        index++;
    }
</table>