<h1>Daily Attendance Form</h1>
<form action="/dailyattendance/entry" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <select name="DepartmentId" class="form-select">
            <option value="x" selected>--select department--</option>
            @foreach (var department in ViewBag.Departments)
            {
                <option value="@department.Id">@department.Code</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Employee Name</label>
        <select name="EmployeeId" class="form-select">
            <option value="x" selected>--select employee--</option>
            @foreach (var employee in ViewBag.Employees)
            {
                <option value="@employee.Id">@employee.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Employee Name</label>
        <select name="EmployeeId" class="form-select">
            <option value="x" selected>--select employee--</option>
            @foreach (var employee in ViewBag.Employees)
            {
                <option value="@employee.Id">@employee.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Attendance Date</label>
        <input type="date" class="form-control" name="AttendanceDate">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">In Time</label>
        <input type="time" class="form-control" name="InTime">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Out Time</label>
        <input type="time" class="form-control" name="OutTime">
    </div>
        <div class="mb-3">
        <label for="" class="form-label">Out Time</label>
        <input type="time" class="form-control" name="OutTime">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Out Time</label>
        <input type="time" class="form-control" name="OutTime">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Out Time</label>
        <input type="time" class="form-control" name="OutTime">
    </div>
    <input type="submit" value="Submit" />
    <input type="reset" value="Cancle" />
</form>